html body {
  background-color: white;
   background-size: cover;
   background-repeat: no-repeat;
   padding-top: 15px;
   color: black;
}
h1 {
    font-size: 100px;
    text-align: center;
    color: gray;
    font-family: 'Monoton', cursive;
    font-weight: bold;
    background-color: transparent;
}
button,
div,
form,
input {
  font-family: 'Red Hat Text', sans-serif;
  margin: 10px;
  text-align: center;
}

button{
  background-color: white; 
  color: gray; 
  border: 1px solid gray;
  font-size: 30px;
}
button:hover {
    background-color: gray;
    color: white;
  }
#add-color {
    background-color: white; 
    color: black; 
    border: 1px solid gray;

  }
  img {
      border: 2px solid white;
  }
.align {
    float:left;
}
