html body {
  background-color: white;
   background-size: cover;
   background-repeat: no-repeat;
   padding-top: 15px;
   color: black;
}
h1 {
    font-size: 150px;
    text-align: center;
    color: black;
    font-family: 'Covered By Your Grace', cursive;
    background-color: transparent;
}
button,
div,
form,
input {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 20px;
  margin: 10px;
  text-align: center;
}

button{
  background-color: white; 
  color: gray; 
  border: 1px solid gray;
}
button:hover {
    background-color: gray;
    color: white;
  }
#add-color {
    background-color: white; 
    color: black; 
    border: 1px solid gray;
  }
img {
      border: 2px solid black;
  }
.align {
    float:left;
}
span {
  color: black;
}